{% extends "base.html" %}

{% block content %}
<h2 class="text-center">Success, your password has been changed</h2>
<div class="container">
    <p class="lead text-center">
        Now for the hard part of remembering it next time.
        <br />
        <br />
        But then again, reading helps sharpen the mind... :)
        <br />
        <br />
        <a href="/" class="btn btn-default">Home</a>
        <a href="/reading" class="btn btn-primary btn-xlarge">Track your minutes</a>
    </p>
</div>
{% endblock %}
