{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="text-center">Reset your password</h2>
    <p class="lead text-center">We've all been there... :)</p>
    <form method="post" action="">
        <div class="row">
            <div class="col-lg-6">
                {% csrf_token %}
                <p class="required">
                    <label class="required" for="id_email">Email</label>
                    <input id="id_email" maxlength="254" name="email" type="email" class="form-control">
                </p>
                <div class="pull-right">
                    <a href="/" class="btn btn-default">Cancel</a>
                    <input type="submit" value="Reset" class="btn btn-primary">
                </div>
            </div>
            <div class="col-lg-6">
                <br />
                <div class="well text-center">
                    <h4>Need a password manager?</h4>
                    <p>Perhaps one of these would help.</p>
                    <a class="btn btn-default" href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=best%20password%20manager" target="_blank">Best Password Managers</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
