{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div id="cal-heatmap"></div>
            <div class="text-center padded">
                <button id="minDate-previous" class="btn btn-default"><i class="icon icon-chevron-left"></i></button>
                <button id="minDate-rewind" class="btn btn-default">Today</button>
                <button id="minDate-next" class="btn btn-default"><i class="icon icon-chevron-right"></i></button>
            </div>
            <form action="" method="post">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-4">
                        <label>Date</label>
                        {{ form.date }}
                        <div class="form-group has-error">
                            {% for error in form.date.errors %}
                                <label class="control-label"><strong>{{ error }}</strong></label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>Minutes</label>
                        {{ form.minutes }}
                        <div class="form-group has-error">
                            {% for error in form.minutes.errors %}
                                <label class="control-label"><strong>{{ error }}</strong></label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>Pages</label>
                        {{ form.pages }}
                        <div class="form-group has-error">
                            {% for error in form.pages.errors %}
                                <label class="control-label"><strong>{{ error }}</strong></label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-4" style="white-space: nowrap;">
                        <label></label><br />
                        <button class="btn btn-default">Cancel</button>
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div>
                <p class="text-center tally-label">Tally</p>
                <table class="table grey">
                    <thead>
                        <tr>
                            <th class="lead"><strong>Period</strong></th>
                            <th class="lead"><strong>Minutes</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="lead">Week <span id="week-val"></span></td>
                            <td class="lead" id="week-mins"></td>
                        </tr>
                        <tr>
                            <td class="lead">Month <span id="month-val"></span></td>
                            <td class="lead" id="month-mins"></td>
                        </tr>
                        <tr>
                            <td class="lead">Year <span id="year-val"></span></td>
                            <td class="lead" id="year-mins"></td>
                        </tr>
                        <tr>
                            <td class="lead">Total</td>
                            <td class="lead" id="total-mins"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var entry_data = {{ entry_data|safe }};
            var parser = function(data) {
                var stats = {};
                for (var d in data) {
                    date_seconds = Date.parse(data[d].date) / 1000;
                    stats[date_seconds] = data[d].minutes;
                }
                return stats;
            };

            function addMonths(dateObj, num) {
                var currentMonth = dateObj.getMonth();
                dateObj.setMonth(dateObj.getMonth() + num)

                if (dateObj.getMonth() != ((currentMonth + num) % 12)){
                    dateObj.setDate(0);
                }
                return dateObj;
            }

            var get_month = function(cal, num_months) {
                var date_list = cal.root[0][0].textContent.split('/');
                var year = date_list[2].substring(0, 4);
                var month = date_list[0] - 1;
                var day = date_list[1];
                var date_pre_click = new Date(year, month, day);
                var date = addMonths(date_pre_click, num_months);

                return date;
            }

            var render_vals = function(date, entry_data) {
                console.log(date);
                date_mom = moment(date);

                // ------------------------------------------------------------
                // Update summary labels

                // Get first-of-week string
                var fow_mom = date_mom.startOf('week');
                var eow_mom = date_mom.endOf('week');
                var fow_date = fow_mom._d;
                var eow_date = eow_mom._d;
                var week_val = 'of ' + moment(fow_date).format('MMMM D, YYYY');

                // Get month string
                var month_val = 'of ' + date_mom.format('MMMM YYYY');

                // Get year string
                var year_val = 'of ' + date_mom.format('YYYY');

                $('#week-val').text(week_val);
                $('#month-val').text(month_val);
                $('#year-val').text(year_val);

                // ------------------------------------------------------------
                // Update summary amounts
                var week_mins;
                var month_mins;
                var year_mins;
                var total_mins;
                var week_pages;
                var month_pages;
                var year_pages;
                var total_pages;

                console.log(1);
                console.log(entry_data);

                for (var i = 0; i < entry_data.length; i++) {
                    console.log(2);
                    var entry_date = new Date(Date.parse(entry_data[i]['date']));


                    var entry_date_mom = moment(entry_date);
                    console.log(entry_date_mom);
                    console.log(fow_mom);
                    console.log(eow_mom);
                    if (entry_date_mom.isBetween(fow_mom, eow_mom)) {
                        console.log(2.5);
                        week_mins += entry_data[i]['minutes'];
                        week_pages += entry_data[i]['pages'];
                    }

                    if (date.getMonth() == entry_date.getMonth()) {
                        month_mins += entry_data[i]['minutes'];
                        month_pages += entry_data[i]['pages'];
                    }

                    if (date.getYear() == entry_date.getYear()) {
                        year_mins += entry_data[i]['minutes'];
                        year_pages += entry_data[i]['pages'];
                    }

                    total_mins += entry_data[i]['minutes'];
                    total_pages += entry_data[i]['pages'];
                }

                console.log(3);
                $('#week-mins').text(week_mins);
                $('#month-mins').text(month_mins);
                $('#year-mins').text(year_mins);
                $('#total-mins').text(total_mins);
            }

            var cal = new CalHeatMap();
            cal.init({
                cellSize: 50,
                range: 1,
                weekStartOnMonday: false,
                domain: "month",
                subDomain: "x_day",
                subDomainTextFormat: "%d",
                label: {position: 'top', height: 50},
                displayLegend: false,
                subDomainTitleFormat: {
                    empty: '{date}',
                    filled: '{date}: {count}'
                },
                subDomainDateFormat: function(date) {
                    return moment(date).format('M/D/YYYY');
                },
                data: entry_data,
                afterLoadData: parser,
                onClick: function(date, value) {
                    date_str = moment(date).format('M/D/YYYY');
                    $('#id_date').val(date_str);
                    $('#id_minutes').val(value);

                    $('#id_pages').val('');
                    for (var i = 0; i < entry_data.length; i++) {
                        var entry_date = new Date(Date.parse(entry_data[i]['date']));
                        if (date.valueOf() === entry_date.valueOf()) {
                            var pages = entry_data[i]['pages'];
                            $('#id_pages').val(pages);
                        }
                    }

                    $('#date-label').html(date);
                    console.log('clicked');
                    console.log(entry_data);
                    render_vals(date, entry_data);
                }
            });

            $("#minDate-previous").on("click", function(e) {
                var date = get_month(cal, -1);
                render_vals(date);

                e.preventDefault();
                if (!cal.previous()) {
                    alert("No more domains to load");
                }
            });

            $("#minDate-next").on("click", function(e) {
                var date = get_month(cal, 1);
                render_vals(date);

                e.preventDefault();
                if (!cal.next()) {
                    alert("No more domains to load");
                }
            });

            $("#minDate-rewind").on("click", function(e) {
                var today = new Date();
                var date = new Date(today.getFullYear(), today.getMonth(), 1);
                render_vals(date);

                e.preventDefault();
                cal.rewind();
            });
            
            $('#id_date').prop('readonly', true);
            $('#id_date').val('Select a date');
        });
    </script>

{% endblock %}

{% block style %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
    <link rel="stylesheet" href="https://rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css" />
    <style>
        .graph-label {
            fill: #777;
            font-size: 200%;
        }

        .subdomain-text {
            font-size: 200%;
            fill: #fff;
        }

        .cal-heatmap-container {
            float: none;
            margin-left: auto;
            margin-right: auto;
        }

        .thin-padding-left {
            padding-left: 1px;
        }

        .thin-padding-right {
            padding-right: 1px;
        }
        .tally-label {
            display: block;
            color: #777;
            font-family: 'Lucida Grande', Lucida, Verdana, sans-serif;
            font-size: 28px;
        }
        .grey {
            color: #777;
        }
    </style>
{% endblock %}