{% extends "base.html" %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div id="cal-heatmap"></div>
            <div class="text-center padded">
                <button id="minDate-previous" class="btn btn-default"><i class="icon icon-chevron-left"></i></button>
                <button id="minDate-rewind" class="btn btn-default">Today</button>
                <button id="minDate-next" class="btn btn-default"><i class="icon icon-chevron-right"></i></button>
            </div>

            <form action="" method="post">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-4">
                        <label>Date</label>
                        {{ form.date }}
                        <div class="form-group has-error">
                            {% for error in form.date.errors %}
                                <label class="control-label"><strong>{{ error }}</strong></label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>Minutes</label>
                        {{ form.minutes }}
                        <div class="form-group has-error">
                            {% for error in form.minutes.errors %}
                                <label class="control-label"><strong>{{ error }}</strong></label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>Pages</label>
                        {{ form.pages }}
                        <div class="form-group has-error">
                            {% for error in form.pages.errors %}
                                <label class="control-label"><strong>{{ error }}</strong></label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-4" style="white-space: nowrap;">
                        <label></label><br />
                        <button class="btn btn-default">Cancel</button>
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var entry_data = {{ entry_data|safe }};
            var parser = function(data) {
                var stats = {};
                for (var d in data) {
                    date_seconds = Date.parse(data[d].date) / 1000;
                    stats[date_seconds] = data[d].minutes;
                }
                return stats;
            };

            var cal = new CalHeatMap();
            cal.init({
                cellSize: 50,
                range: 1,
                weekStartOnMonday: false,
                domain: "month",
                subDomain: "x_day",
                subDomainTextFormat: "%d",
                label: {position: 'top', height: 50},
                displayLegend: false,
                subDomainTitleFormat: {
                    empty: '{date}',
                    filled: '{date}: {count}'
                },
                subDomainDateFormat: function(date) {
                    return moment(date).format('M/D/YYYY');
                },
                data: entry_data,
                afterLoadData: parser,
                onClick: function(date, value) {
                    date_str = moment(date).format('M/D/YYYY');
                    $('#id_date').val(date_str);
                    $('#id_minutes').val(value);

                    $('#id_pages').val('');
                    for (var i = 0; i < entry_data.length; i++) {
                        var entry_date = new Date(Date.parse(entry_data[i]['date']));
                        if (date.valueOf() === entry_date.valueOf()) {
                            var pages = entry_data[i]['pages'];
                            $('#id_pages').val(pages);
                        }
                    }

                    $('#date-label').html(date);
                }
            });

            $("#minDate-previous").on("click", function(e) {
                e.preventDefault();
                if (!cal.previous()) {
                    alert("No more domains to load");
                }
            });

            $("#minDate-next").on("click", function(e) {
                e.preventDefault();
                if (!cal.next()) {
                    alert("No more domains to load");
                }
            });

            $("#minDate-rewind").on("click", function(e) {
                e.preventDefault();
                cal.rewind();
            });
            
            $('#id_date').prop('readonly', true);
            $('#id_date').val('Select a date');
        });
    </script>

{% endblock %}

{% block style %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
    <link rel="stylesheet" href="https://rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css" />
    <style>
        .graph-label {
            font-size: 200%;
        }

        .subdomain-text {
            font-size: 200%;
            fill: #fff;
        }

        .cal-heatmap-container {
            float: none;
            margin-left: auto;
            margin-right: auto;
        }

        .thin-padding-left {
            padding-left: 1px;
        }

        .thin-padding-right {
            padding-right: 1px;
        }
    </style>
{% endblock %}