{% extends "base.html" %}

{% block content %}
    <div>
        <img src="{{ STATIC_URL }}readitdown_wordmark_large.png" width="80%" class="center top-margin">
    </div>
    <div>
        <p class="lead text-center subsplash">
            Read a book, then write it down<br />
            <br />
            <a href="/reading" class="btn btn-primary btn-xlarge">Give it a spin</a>
            {% if not user.is_authenticated %}
                <br />
                <br />
                <a href="/accounts/login" class="btn btn-default btn-lg">Log In</a>
                <a href="/accounts/register" class="btn btn-info btn-lg">Register</a>
            {% endif %}
        </p>
    </div>
{% endblock %}

{% block style %}
    <style>
        .splash {
            margin: 50px;
            font-size: 500%;
        }

        .subsplash {
            margin: 30px;
            font-size: 300%;
        }

        .btn-xlarge {
            padding: 18px 28px;
            font-size: 22px;
            line-height: normal;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
        }
    </style>
{% endblock %}
