{% extends "base.html" %}

{% block content %}
    <h2 class="text-center">Add Users</h2>
    <div class="container">
        <p class="lead text-center">Here's where you can add user accounts that will be associated with your school.</p>
            <div class="alert alert-warning">
                <strong>Alert:</strong> Submitting this form will send account activation emails to the people listed in the spreadsheet you upload. This is all part of the process, but it's best for you to know beforehand.
            </div>
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-lg-6">
                        <p class="required">
                            {{ form.role.label }}
                        </p>
                        {{ form.role.errors }}
                        {{ form.role }}
                    </div>
                    <div class="col-lg-6">
                        <p class="required">
                            {{ form.file.label }}
                        </p>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse… <input id="id_file" name="file" type="file">
                                </span>
                            </span>
                            <input id="filename" type="text" class="form-control" readonly="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pull-right button-margin">
                            <a href="/" class="btn btn-default">Cancel</a>
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info">
                            <strong>Hint:</strong> The spreadsheet needs to have the below headers exactly as shown. Hightlight the header row and paste into a spreadsheet to help you get started. (Guardian email fields are optional.)
                        </div>
                        {% if is_manager %}
                            <h3>Teacher file example
                                <a href="/access/template/teacher" class="btn btn-default pull-right">Teacher Template</a>
                            </h3>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>email</th>
                                        <th>first_name</th>
                                        <th>last_name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>teacher@example.com</td>
                                        <td>First</td>
                                        <td>Last</td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endif %}
                        <h3>Student file example
                            <a href="/access/template/student" class="btn btn-default pull-right">Student Template</a>
                        </h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>email</th>
                                    <th>first_name</th>
                                    <th>last_name</th>
                                    <th>guardian_email_1</th>
                                    <th>guardian_email_2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>student@example.com</td>
                                    <td>First</td>
                                    <td>Last</td>
                                    <td>guard1@example.com</td>
                                    <td>guard2@example.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </p>
    </div>
{% endblock %}

{% block script %}
    <script>
        // http://goo.gl/s7UfAm
        $(document).on('change', '.btn-file :file', function() {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $(document).ready( function() {
            $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
                $('#filename').val(label);
            });
        });
    </script>
{% endblock %}

{% block style %}
    <style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
        .required {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            font-weight: 700;
        }
        .button-margin {
            margin-top: 10px;
            margin-bottom: 30px;
        }
    </style>
{% endblock %}
